
<div class="container">
  <div class="banner">
     <div class="col">
        <div class="imageContainer"><img src={{avatarimg}} class="profileImage"></div>
        <div class="profileName">
           <h1>{{profileName}}</h1>
        </div>
     </div>
  </div>
  <div class="contactRow">{{contactRow}}</div>
  <div class="contentContainer">
     <div class="col">
        <div class="card mb-3">
           <div class="card-header">{{headingone}}</div>
           <div class="card-body">
              <p class="card-text">{{cardonetext}}</p>
           </div>
        </div>
        <div class="card mb-3">
           <div class="card-header">{{headingthree}}</div>
           <div class="card-body">
              <ul class="list-group list-group-flush">
                 <li class="list-group-item" *ngFor="let row of cardthreetext;">
                   {{row}}
                 </li>
              </ul>
           </div>
        </div>
     </div>
     <div class="col">
        <div class="card mb-3">
           <div class="card-header">{{headingtwo}}</div>
           <div class="card-body">
              <p class="card-text">{{cardtwotext}}</p>
           </div>
        </div>
        <div class="card mb-3">
           <div class="card-header">{{headingfour}}</div>
           <div class="card-body">
              <div class="row">
                 <div class="col card-title" *ngFor="let row of cardfourlist;">{{row}}</div>
              </div>
              <p class="card-text">{{cardfourtext}}</p>
           </div>
        </div>
     </div>
  </div>
</div>